<launch>
    <node name="anchors" output="screen" pkg="gtec_rostoa" type="anchors">
        <param name="configBeacons" textfile="$(find gtec_roslauncher)/config/config_beacons_anfaco.xml">
        </param>
    </node>

    <node name="pozyxposition" output="screen" pkg="gtec_uwb_ranging" type="pozyxposition">
        <param name="usbPort" value="/dev/ttyUSB0" type="str"></param>
        <param name="targetDeviceId" value="6f1d" type="str"></param>
    </node>


    <node name="rtlspose" output="screen" pkg="gtec_rosrtls" type="rtlspose">
        <param name="token" type="string" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZTRhNTYyM2U3ZGEwMjA5NzExNDUyMzUiLCJpYXQiOjE1ODE5MzAwMTl9.zvDDVTOWXueKa2cv3SD2ZKJNIkla5Gyhh79JHeGLnJA" />
        <param name="url" type="string" value="https://localhost:4433/api/targetdevices/" />
        <param name="route" type="string" value="/positions" />
        <param name="targetDeviceId" type="string" value="6f1d" />
        <param name="poseTopic" type="string" value="/gtec/uwb/position/pozyx/" />
    </node>


</launch>