<launch>

  <arg name="model" default="burger"/>
  <arg name="x_pos" default="1.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw" default="0"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gtec_roslauncher)/worlds/forklift_scenario1.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/>
  </include>


  <node pkg="gtec_gazebo2ros" type="gazebo2ros" name="gazebo2ros">
      <param name="pub_topic_px4flow" value="/gtec/gazebo/px4flow" type="str"></param>
      <param name="pub_topic_imu" value="/gtec/gazebo/imu" type="str"></param>
      <param name="pub_topic_mag" value="/gtec/gazebo/mag" type="str"></param>
      <param name="pub_topic_mag_int" value="/gtec/gazebo/maginterfered" type="str"></param>

    <param name="sub_gz_optical_flow" value="/gazebo/default/turtlebot3_burger/base_footprint/opticalFlow" type="str"></param>
    <param name="sub_gz_optical_flow_imu" value="/gazebo/default/turtlebot3_burger/base_footprint/px4_imu/imu" type="str"></param>
    <param name="sub_gz_imu" value="/gazebo/default/turtlebot3_burger/base_footprint/imu/imu" type="str"></param>
    <param name="sub_gz_mag" value="/gazebo/default/turtlebot3_burger/base_footprint/magnetometer" type="str"></param>
    <param name="sub_gz_mag_int" value="/gazebo/default/turtlebot3_burger/base_footprint/magnetometer/interfered" type="str"></param>
    </node> 


  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw) -param robot_description" />


  <arg name="marker_frequency" default="2" />
  <arg name="marker_collision" default="false" />

  <include file="$(find gazebo2rviz)/launch/gazebo2tf.launch" />
  <include file="$(find gazebo2rviz)/launch/gazebo2marker.launch">
    <arg name="frequency" value="$(arg marker_frequency)" />
    <arg name="collision" value="$(arg marker_collision)" />
  </include>

</launch>
