<launch>
    <arg name="toaTagId"></arg>
    <arg default="20" name="rate"></arg>
    <arg default="/gtec/toa/ranging" name="rangingTopic"></arg>
    <arg default="/gtec/toa/anchors" name="anchorsTopic"></arg>
    <arg default="ALGORITHM_ML" name="algorithm"></arg>
    <node name="ml_toa_all_$(arg toaTagId)" output="screen" pkg="gtec_roskfpos" type="kfpos" launch-prefix="">
        <param name="rate" type="int" value="$(arg rate)" />
        <param name="targetDeviceId" type="string" value="tag_$(arg toaTagId)"></param>
        <param name="rangingTopic" type="string" value="$(arg rangingTopic)"></param>
        <param name="anchorsTopic" type="string" value="$(arg anchorsTopic)"></param>
        <param name="toaTagId" type="string" value="$(arg toaTagId)"></param>
        <param name="algorithm" type="string" value="$(arg algorithm)"></param>
        <param name="use2d" type="int" value="0" />
        <param name="variant" type="int" value="0" />
        <param name="numRangingsToIgnore" type="int" value="0" />
        <param name="useStartPosition" type="int" value="0"/>
    </node>
</launch>