<launch>

	  <arg name="tagId" default="6a39"></arg>
      <arg name="usbPort" default="/dev/ttyUSB0"></arg>
    <!-- <arg name="tagId" default="6f1d"></arg> -->

    <node name="anchors" output="screen" pkg="gtec_rostoa" type="anchors">
        <param name="configBeacons" textfile="$(find gtec_roslauncher)/config/config_beacons_citic.xml">
        </param>
    </node> 

     <node name="PozyxRangingReaderPython" output="screen" pkg="gtec_uwb_ranging" type="PozyxRangingReaderPython.py">
        <param name="targetDeviceId" value="$(arg tagId)"></param>
        <param name="serial" value="$(arg usbPort)"></param>
    </node> 

    <node pkg="trilateration" type="trilateration_node" name="trilateration_node" output="screen">
		<param name="global_frame_name" value="map"/>
		<param name="range_topic_name" value="/gtec/uwb/ranging/pozyx"/>
        <param name="anchors_topic_name" value="/gtec/toa/anchors"/>
		<param name="position_topic_name" value="/gtec/trilateration/$(arg tagId)"/>
		<param name="loop_rate" value="10.0"/>
		<param name="dim" value="2"/>
	</node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
      <rosparam command="load" file="$(find gtec_roslauncher)/config/ekf_pose.yaml" />
      <param name="pose0" value="/gtec/trilateration/$(arg tagId)" />
      <remap from="odometry/filtered" to="/gtec/trilateration/ekf/odom/$(arg tagId)"/>
    </node> 

   <node name="odom_to_pose" pkg="topic_tools" type="transform"
      args="/gtec/trilateration/ekf/odom/$(arg tagId) /gtec/ekf/position/tag geometry_msgs/PoseWithCovarianceStamped 'geometry_msgs.msg.PoseWithCovarianceStamped(header=m.header,pose=m.pose)' --import geometry_msgs std_msgs" />

    <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
        <rosparam file="$(find gtec_roslauncher)/config/config_mqtt_citic_tag.yaml" command="load" />
    </node>

    
</launch>
